@(className: String)<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://localhost:9000/assets/jars/" href="">
    <information>
        <title>Test JNLP</title>
        <vendor>Test JNLP</vendor>
    </information>
    <resources>
        <j2se version="1.6+" href="http://java.sun.com/products/autodl/j2se"/>
        <jar href="regexp.jar" main="true"/>
    </resources>
    <application-desc name="JNLP Test KL App" main-class="@className"/>
    <update check="background"/>
</jnlp>
